@import "menu";
@import "footer";

.grid{
    gap: 5px;
    display: grid;
    grid-template-columns: 40% 60% ;
    grid-template-rows:  40vh 40vh  ;
}

.fotos
{
   width: 100%;
   height: 100%;
   object-fit: cover; }

.fa
{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #f9f9f9;
}
.ff
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: 300;
}

.pp{
    padding: 20px;
    text-align: center;
    color: #f1f1f1;
    
}
@media (max-width:720px)
{

 .grid{
  grid-template-columns: 80vh;
  grid-template-rows: 40vh 40vh;
  

 }
}
